<h1 class="my-4">Attendance session lists</h1>

<div class="row row-cols-1 row-cols-md-4 g-4"> <!-- 4 cards per row -->
  <% @attendance_sessions.each_with_index do |attendance_session, index| %>
    <div class="col">
      <div class="card h-100 shadow-lg rounded hover-shadow">
        <div class="card-header text-white"
             style="background: linear-gradient(to right,
               <%= %w[#ff5f6d #ffc371 #24C6DC #514A9D #FF512F #DD2476 #DA22FF #9733EE][index % 8] %>,
               <%= %w[#ffc371 #24C6DC #514A9D #FF512F #DD2476 #DA22FF #9733EE #ff5f6d][(index+1) % 8] %>);">
          <i class="bi bi-calendar-check-fill"></i> <%= attendance_session.name %>
        </div>
        <div class="card-body">
          <p class="card-text"><i class="bi bi-card-text"></i> <%= attendance_session.summary %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-person-check-fill"></i>
              Total not attend: <%= attendance_session.attendance_logs.count %></li>
            <li class="list-group-item"><i class="bi bi-person-x-fill"></i>
              Total Attend: <%= attendance_session.total_not_attend-attendance_session.attendance_logs.count%></li>
            <li class="list-group-item"><i class="bi bi-book-fill"></i> Course: <%= attendance_session.course %></li>
          </ul>
        </div>
        <div class="card-footer">
          <%= link_to '<i class="bi bi-pencil-fill"></i> Edit'.html_safe,
                      edit_attendance_session_path(attendance_session), class: 'btn btn-primary' %>
          <%= link_to '<i class="bi bi-eye-fill"></i> Lihat'.html_safe,
                       attendance_session, class: 'btn btn-success' %>
          <%= link_to '<i class="bi bi-trash-fill"></i> Hapus'.html_safe,
                       attendance_session, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>