<h1> Attendance session list </h1>
<p>Topik  : <b><%= @attendance_session.name %></b></p>
<p>Summary: <b><%= @attendance_session.summary %></b></p>
<p>total_attend: <b><%= @attendance_session.total_attend %></b></p>
<p>total_not_attend: <b><%= @attendance_session.total_not_attend %></b></p>
<p>course: <b><%= @attendance_session.course %></b></p>
<p><%= link_to 'Edit sesi kuliah',edit_attendance_session_path(@attendance_session) %></p>
