<div id="show-view">

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-lg rounded">
        <div class="card-header text-center bg-primary text-white">
          <h1><i class="bi bi-calendar-check-fill"></i> Attendance Session List</h1>
        </div>
        <div class="card-body">
          <p><strong>Topic :</strong> <%= @attendance_session.name %></p>
<!--          <p><strong>Summary :</strong> <%#= @attendance_session.summary %></p>-->
          <p><strong>Total Enrolled Students :</strong> <%= @my_students.count %></p>
          <%= form_with(url: attendance_logs_path, method: :post, local: true, data: {turbo: false}) do %>
            <%=hidden_field_tag :attendance_session_id, @attendance_session.id %>
            <% if flash[:alert] %>
              <div class="alert alert-danger">
                <i class="bi bi-info-circle-fill"></i> <%= flash[:alert] %>
              </div>
            <% end %>
            <div class="alert alert-info" role="alert">
              <i class="bi bi-info-circle-fill"></i> Please enter the provided token before closing the session.
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
              <%= text_field_tag :secret_code, nil, placeholder: 'Enter token ( provided by student )',
                                 class: 'form-control', title: 'Token is provided by the student' %>
            </div>

            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">NIM</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <% @my_students.each_with_index do |student, index| %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= student.nama.split[0..1].join(' ') %></td>
                  <td><%= student.nim %></td>
                  <td>
                    <select name="attendance_logs[<%= student.id %>][status]" class="form-select">
                      <%= options_for_select(AttendanceStatus.available_status) %>
                    </select>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <button type="submit" class="btn btn-success position-fixed bottom-0 end-0 m-3">
              <i class="bi bi-alarm-fill"></i> Close Session
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>